@{
    ViewData["Title"] = "OTP Verification";
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DashBoardDemo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DashBoardDemo.styles.css" asp-append-version="true" />
    <link href="~/css/datatablecss/jquery.datatables.css" rel="stylesheet" />
    <link href="~/css/datatablecss/jquery.datatables.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

<div class="container">
    <main role="main" class="pb-3">
        <div class="row">
            <div class="col-lg-3 col-md-2"></div>
            <div class="col-lg-6 col-md-8 login-box">
                <div class="col-lg-12 login-title">
                    OTP VERIFICATION
                </div>

                <div class="col-lg-12 login-form">
                        <form id="OtpVerify" method="post">
                        <div class="form-group">
                            <label class="form-control-label" style="font-size: 14px; font-weight: bold;">OTP</label>
                            <input type="text" name="otp" class="form-control" id="otp" required>
                        </div>

                        <div class="col-lg-12 loginbttm">
                            <div class="col-lg-6 login-btm login-text">
                                <!-- Error Message -->
                            </div>
                            <div class="col-lg-6 login-btm login-button mt-3">
                                <button type="submit" class="btn btn-outline-primary">VERIFY OTP</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-3 col-md-2"></div>
        </div>
    </main>
</div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - DashBoardDemo - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/datatable/jquery.datatables.js"></script>
    <script src="~/datatable/jquery.datatables.min.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/moment.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/verifyotp.js"></script>
</body>
</html>