@{
    ViewData["Title"] = "PatientList";
    Layout = "_Layout";
}



@*Comment it for it is not implemented in the datatble butr donot remove it*@
@*<div>
    
    <label for="PatientName">Patient Name:</label>
    <input type="text" id="PatientName" name="PatientName">
    <button id="searchBtn">Search</button>
  
    <a asp-action="PatientList"><i class=" fa fa-square-o">Back to Full List</i></a>
</div>
*@
<div class="container">
    <h3 class="text-uppercase text-center font-weight-bold mt-4 heading">Patients List</h3>
    <table id="tblEmployee" class="table table-bordered table-striped table-hover">
        <thead style="border-color:gray;background-color:#C0C0C0;">
            <tr>
                <th class="text-center">SL.No</th>
                <th class="text-center">Name</th>
                
                <th class="text-center">Dob</th>
                <th class="text-center">Phone</th>
                <th class="text-center">Email</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <!-- Add your table body here -->
    </table>
    </div>
    <style>
        th {
            text-align: center;
        }

        .table-bordered {
            border: 1px solid #ccc;
        }

            .table-bordered th,
            .table-bordered td {
                border: 1px solid #ccc;
            }

        /* Hover effect */
        .table-hover tbody tr:hover {
            background-color: #f5f5f5;
        }

        /* Styling for the heading */
        .heading {
            font-size: 24px;
            color: #333;
            text-transform: uppercase;
            margin-bottom: 20px;
            text-decoration: underline;
        }
    </style>



@section Scripts{
    <script src="~/js/patients_datatablefile.js"></script>
   @* <script src="~/js/patientlist.js"></script>*@
}
