@{
    ViewData["Title"] = "DoctorTimeSlotEdit";
    Layout = "_Layout";
}

<form id="RegistrationForm">
    <div class="form-group">
        <label for="DoctorDropdown">Doctor Name</label>
        <input type="text" class="form-control" id="DoctorName" name="DoctorName" placeholder="DoctorName">
    </div>

    <div class="form-group">
        <label for="FromTime">FromTime</label>
        <input type="datetime-local" class="form-control" id="FromTime" name="FromTime" placeholder="FromTime">
    </div>

    <div class="form-group">
        <label for="ToTime">ToTime</label>
        <input type="datetime-local" class="form-control" id="ToTime" name="ToTime" placeholder="ToTime" />
    </div>

    <input type="hidden" class="doctorId" id="DoctorId" name="DoctorId" value="">


    <button type="submit" class="btn btn-primary">Register</button>
</form>






@section Scripts{
    <script src="~/js/jsserverside/editdoctimeslot.js"></script>
 }